.voiceItem {
  margin-bottom: 4px;
}

.voiceItem:last-child {
  margin-bottom: 0;
}

.searchContainer {
  margin-bottom: 12px;
  position: relative;
}

.searchInput {
  width: 100%;
  height: 46px;
  padding: 0 16px;
  border-radius: 16px;
  border: 1px solid #C4C4C4;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.searchIcon {
  position: absolute;
  right: 15px;
  top: 16px;
}

.clearButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.clearButton img {
  width: 20px;
}


.searchInput::placeholder {
  color:#aaa;
}

.noResults {
  margin-top: 25%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #262626;
}

.noResultsImg {
  margin-top: 30px;
  background-size: cover;
  background-position: center;
  background-image: url('/assets/no_results.svg');  
  padding-bottom: 50%;
  position: relative;
}

.noResultsImg::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: linear-gradient(to top, white, transparent);
  z-index: 1;
}

.noResultsImg::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  mask: linear-gradient(to top, black, transparent);
}