# Зависимости
node_modules/

# Сборка
dist/
dist-ssr/

# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Переменные окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Кэш Vite
.vite/

# Временные файлы
*.swp
*.swo
*~

# Редакторы
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Тестирование
coverage/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*