.container {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  background: #fff;
}

.loading {
  color: #000;
}

.error {
  color: #000;
}

.dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  height: 46px;
  padding: 0 16px;
  border: 1px solid#C4C4C4;
  border-radius: 16px;
  cursor: pointer;
  transition: border-color 0.2s;
}

.arrow {
  margin-top: 2px;
  transition: transform 0.2s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 10000;
  animation: fadeIn 0.2s ease-in-out;
}

.modalContainer {
  width: 100%;
  max-width: 500px;
  max-height: 100vh;
  background: #fff;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  margin: 0;
  animation: slideDown 0.2s ease-out forwards;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 15px 40px;
}

.modalHeader h4 {
  margin: 0;
  font-size: 20px;
  color: #373737;

}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #373737;
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.searchContainer {
  margin: 0 15px;
  margin-bottom: 12px;
  position: relative;
}

.searchInput {
  width: 100%;
  height: 46px;
  padding: 0 16px;
  border-radius: 16px;
  border: 1px solid #C4C4C4;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.searchIcon {
  position: absolute;
  right: 15px;
  top: 16px;
}

.clearButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.clearButton img {
  width: 20px;
}

.optionsList {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px;
}

.option {
  padding: 16px;
  cursor: pointer;  
  transition: background-color 0.2s;
  font-size: 14px;
  border-radius: 6px;
  margin-bottom: 2px;
}

.option:hover,
.option.selected {
  background: #2F6AFF0D;
}

.noResults {
  padding: 24px;
  text-align: center;
  color: #262626;
  font-style: italic;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}