* {
  font-family: 'Inter', sans-serif !important;
}

html {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #fff;  
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background:#fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 22px 15px;
  height: 100vh;
  box-sizing: border-box;
}
