.container {
  position: relative;
  border-radius: 12px;
  width: 100%;  
  z-index: 1;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
  transition: filter 0.3s ease;
}

.avatarWrapper {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.avatar {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 12px;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backButton {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  gap: 12px;
  color: #262626;
  font-size: 14px;
  padding: 0;
}

.player {
  display: none;
}

.proBadge {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  color: white;
  background-color: #0CB700;
  padding: 3px 6px;
  border-radius: 6px;
  width: fit-content;
  margin-top: 7px;
}

.proBadge.proPlus {
  background-color: #F0680D;
}

.playBtn {
  position: absolute;
  bottom: 6px;
  left: 6px;
  width: 36px;
  height: 36px;
  background-color: #2F6AFF;
  border-radius: 50%;
  border: none;
  padding: 11px 0;
  margin: auto;
}

.playIcon {
  margin-left: 2px;
}
