.container {
  position: relative;
  border-radius: 12px;
  width: 100%;
  height: 300px;
  z-index: 1;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
  transition: filter 0.3s ease;
}

.male::before {
  background-image: url('/assets/male_avatar.jpg');
}

.female::before {
  background-image: url('/assets/female_avatar.jpg');
}

.top {
  display: flex;
  align-items: start;  
  justify-content: space-between;
  padding-top: 15px;
  margin: 0 10px;
}

.bottom {
  margin-top: 5px;
  font-size: 26px;
  line-height: 45px;
  font-weight: 700;
  text-align: center;
  color: var(--tg-theme-hint-color);
}

.bottom div {
  padding: 0 5px 5px;
  border-radius: 5px;
  background-color: var(--tg-theme-header-bg-color, #FFF);
  display: inline;
}

.proBadge {
  text-transform: uppercase;
  color: white;
  background-color: #2ecc71 !important;
  margin-left: 8px;
}

.proBadge.proPlus {
  background-color: #f1c40f !important;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;  
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backButton {
  margin-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-header-bg-color);
  border: none;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.player {
  display: none;
}

.playBtnWrapper {
  width: 50px;
}

.playBtn,
.stopBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--tg-theme-button-color);
  border: none;
  outline: none;
}

.playIcon {
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-left: 2px;
}

.stopIcon {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 2px;
}