.container {
  margin-bottom: 24px;
}

.genderTabs {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}

.tab {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex: 1;
  padding: 15px;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.2s;
  height: 46px;
  background-color: #F7F7F7;
  border: none;
}

.active {
  background-color: #1A1A1A;
  color: #FFFFFF;
}