.voice {
  cursor: pointer;
  display: flex;
  height: 76px;
  border-radius: 16px;
  background-color: #FAFAFA;
  margin-bottom: 4px;
  box-sizing: border-box;
  padding: 14px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voiceInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5px 0;
  height: 100%;
  box-sizing: border-box;
}

.voiceName {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  color: #262626;
}

.voiceGender {
  text-transform: uppercase;
  font-size: 14px;
  color: #777;
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 5px;
}

.proBadge {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  color: white;
  background-color: #0CB700;
  padding: 3px 6px;
  border-radius: 6px;
  width: fit-content;
  margin-top: 7px;
}

.proBadge.proPlus {
  background-color: #F0680D;
}

.playBtn {
  width: 36px;
  height: 36px;
  background-color: #2F6AFF;
  border-radius: 50%;
  border: none;
  padding: 11px 0;
  margin: auto;
}

.playIcon {
  margin-left: 2px;
}

.selectBtn {
  cursor: pointer;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-left: 2px solid#EFEFEF;
  margin-left: 12px;  
}
